@using NailPolishMarket.Web.Models;
@model NailPolishMarket.Web.Models.Catalog.InputModel.CatalogInputModel

<h1>@ViewBag.Message</h1>
@using (Html.BeginForm("CreateCatalog", "Catalog", FormMethod.Post))
{
    @Html.Label("Catalog name:");
    @Html.TextBox("Name")
    <br>
    @Html.Label("NailPolishes:");
    <br>
    
    for (int i = 0; i < @Model.NailPolishes.Count(); i++)
    {
        @Html.CheckBoxFor(c=>c.NailPolishes[i].Selected)
        @Html.HiddenFor(c => c.NailPolishes[i].Id)
        @Model.NailPolishes[i].Name
        @Html.HiddenFor(c => c.NailPolishes[i].Name)
        <br>
        @Model.NailPolishes[i].Brand
        @Html.HiddenFor(c => c.NailPolishes[i].Brand)
        <br>
        @Model.NailPolishes[i].Price
        @Html.HiddenFor(c => c.NailPolishes[i].Price)
        <br>     
    }

<input type="submit" value="CreateCatalog"/>
}


