@using NailPolishMarket.Web.Models;
@model List<NailPolishMarket.Web.Models.NailPolish.InputModel.NailPolishInputModel>


<h1>@ViewBag.Message</h1>
@using (Html.BeginForm("CreateCatalog", "Catalog", FormMethod.Post))
{
    @Html.Label("Catalog name:");
    @Html.TextBox("Name")
    <br>
    @Html.Label("NailPolishes:");
    <br>
    <select>
        @foreach (var nailPolish in @Model)
        {
            <option value="@nailPolish.Id">@nailPolish.Name</option>
        }
    </select>
    <br>
<input type="submit" value="CreateCatalog"/>
}


