@using NailPolishMarket.Web.Models;
@model List<NailPolishMarket.Web.Models.NailPolish.ViewModel.NailPolishViewModel>


<h1>@ViewBag.Message</h1>
@using (Html.BeginForm("CreateCatalog", "Catalog", FormMethod.Post))
{
    @Html.Label("Catalog name:");
    @Html.TextBox("Name")
    <br>
    @Html.Label("NailPolishes:");
    <br>
    @Html.DropDownList("NailPolish", new SelectList((Model.Select(s => s.Name) ), "Select NailPolish"));
    <br>
    @Html.DropDownList("NailPolish", new SelectList((Model.Select(s => s.Name)), "Select NailPolish"));
    <br>
    @Html.DropDownList("NailPolish", new SelectList((Model.Select(s => s.Name)), "Select NailPolish"));
    <br>


<input type="submit" value="CreateCatalog"/>
}


