@using NailPolishMarket.Web.Models;
@model NailPolishMarket.Web.Models.Catalog.ViewModel.CatalogViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
<script src="~/Scripts/add-to-cart.js"></script>  

}
<table class="table">
        <tr>
            <th>@Model.Name</th>
            <td>@Model.Date</td>
        </tr>
       
            @foreach (var nailPolish in Model.NailPolishes)
            {
                
                <tr>
                        <td class="nailpolishid" data-nail-polish-id="@nailPolish.Id">@nailPolish.Id</td>
                        <td class="nailpolishname">@nailPolish.Name</td>
                        <td class="nailpolishbrand">@nailPolish.Brand</td>
                        <td class="nailpolishprice">@nailPolish.Price</td>

                        <td >@Html.ActionLink("Add to Cart", "AddToCart", "ShoppingCart", new { id = nailPolish.Id}, null)</td>
                    
                </tr>
            }    
</table>

 


